<!DOCTYPE HTML>
<html>
        <head>
                <title>Apache Container</title>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        </head>
        <body>
            <h1>{{ welcome }} welcome to Apache running in a Docker container!</h1>

        </body>
</html>